on:
  push:
    branches:
    - main
name: release-please
permissions:
  contents: write
  pull-requests: write
jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
    - uses: google-github-actions/release-please-action@v4
      id: release
      with:
        release-type: node
        package-name: nodebb-plugin-total-vote-count
    # The logic below handles the npm publication:
    - uses: actions/checkout@v4
      # these if statements ensure that a publication only occurs when
      # a new release is created:
      if: ${{ steps.release.outputs.release_created }}
    - uses: actions/setup-node@v4
      with:
        node-version: 18
        cache: yarn
        registry-url: 'https://registry.npmjs.org'
      if: ${{ steps.release.outputs.release_created }}
    - run: yarn
      if: ${{ steps.release.outputs.release_created }}
    - run: yarn publish
      env:
        NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
      if: ${{ steps.release.outputs.release_created }}